* {
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: 16px;
  /* 
   * Debug
   */
  /* outline: 1px solid blue !important; */
}

body {
  background-color: var(--color-slate-100);
  color: var(--color-slate-800);
  font-size: var(--font-base);
  margin: 0;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-color);
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Tags */

.tag {
  border-radius: var(--rounded-full);
  line-height: 15px;
  margin: 0;
  white-space: nowrap;
  width: fit-content;

  &--primary {
    font-weight: 600;
    padding: 0.15rem 1rem 0.2rem;
    border: 1px solid var(--color-primary-700);
    background-color: var(--color-primary-700);
    color: var(--color-white);
    font-size: var(--font-m);
    white-space: nowrap;
  }
  &--green {
    border: 1px solid var(--color-green-400);
    background-color: var(--color-green-200);
    color: var(--color-green-500);
    font-size: var(--font-xs);
    padding: 0rem 0.7rem;
    white-space: nowrap;
  }
  &--red {
    border: 1px solid var(--color-red-400);
    background-color: var(--color-red-50);
    color: var(--color-red-700);
    font-size: var(--font-xs);
    padding: 0rem 0.7rem;
    white-space: nowrap;
  }
  &--warning {
    border: 1px solid var(--color-orange-500);
    background-color: var(--color-orange-50);
    color: var(--color-orange-700);
    font-size: var(--font-xs);
    padding: 0rem 0.7rem;
    white-space: nowrap;
  }
  &--info {
    border: 1px solid var(--color-slate-400);
    background-color: var(--color-slate-100);
    color: var(--color-slate-700);
    font-size: var(--font-s);
    padding: 0rem 0.7rem;
    white-space: nowrap;
  }
}
